@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700&display=swap');

.logo {
  width:200px;
    overflow: scroll;
}

img, video {
    width: auto;
    height: auto;
    max-width: 100%;
}

a:visited {
  color: red;
}


/*
@media screen and (max-width: 1300px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
*/

body {
  margin:0;
    font-size: 3vw;
/*  font-size: 1.5rem;*/
  background-color: lightblue;
  font-family: 'Crimson Text', serif;
  color: black;
  
}

.navbar {
  overflow: hidden;
  background-color: #333;
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;

    
}

.navbar a {
    
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px 20px;
  text-decoration: none;
/*  font-size: 1.5rem;*/
    font-size: 2vw;
  font-weight: bold;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

main {
  padding: 16px;
  margin-top: 30px;
}

.skills {
    grid-column-start: 1;
    grid-column-end: ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
   
}

h1{
  padding-top: 20px;
  font-weight: 700;
    font-size: 7vw;
/*  font-size: 4rem;*/
  text-align: center;
  
}

.tagline{
   text-align: center; 
    font-style: italic;
}

.attractor{
   text-align: center; 
    font-style: italic;
/*   width: 50%; */
}

.intro{
    text-align: center; 
    font-style: italic;
}

h3{
/*  font-size: 2.5rem;*/
    font-size: 4vw;
}

h2{
/*  font-size: 3.0rem;*/
    font-size: 5vw;
}
