/*@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700, &display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans:400,400i,700,700i&display=swap');

.logo {
    width: 200px;
    overflow: scroll;
}

img,
video {
    width: auto;
    height: auto;
    max-width: 100%;
}

.logo {
    width: auto;
    height: auto;
    max-width: 5%;

}


/*
@media screen and (max-width: 1040px) {
    .navbar a:not(:first-child) {
        display: none;
    }
*/

/*
    .navbar a:nth-child(2) {
        display: block;
    }
*/

/*
    .navbar a.icon {
        float: left;
        display: block;
    }
}
*/

/*
@media screen and (max-width: 1040px) {

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    a:nth-child(2) {
        margin-left: 0px;
    }

    .navbar.responsive a:not(:first-child) {
        margin-left: 42px;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
*/

a:visited {
    color: red;
}

<<<<<<< HEAD
/*
=======
a:visited {
  color: red;
}



>>>>>>> parent of 128a6a9... Update style.css
.navbar .icon {
    display: none;
}
*/

/*
.navbar {
<<<<<<< HEAD
    overflow: hidden;
    background-color: #333;
    background-color: lightsteelblue;
    position: fixed;
    top: 0;
    width: 100%;
=======
  overflow: hidden;
  background-color: #333;
  background-color: lightsteelblue;
  position: fixed;
  top: 0;
  width: 100%;

    
>>>>>>> parent of 128a6a9... Update style.css
}
*/

.navbar a {
<<<<<<< HEAD

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 2px;
    text-decoration: none;
    /*  font-size: 1.5rem;*/
    /*    font-size: 1.8vw;*/
=======
    
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px 2px;
  text-decoration: none;
/*  font-size: 1.5rem;*/
/*    font-size: 1.8vw;*/
>>>>>>> parent of 128a6a9... Update style.css
    font-size: 1.8vw;
    font-weight: bold;
}

.navbar a:hover {
<<<<<<< HEAD
    background: #ddd;
    color: black;
=======
  background: #ddd;
  color: black;
>>>>>>> parent of 128a6a9... Update style.css
}

main {
    padding: 16px;
    margin-top: 30px;
}

body {
    margin: 0;
    font-size: 2vw;
    /*  font-size: 1.5rem;*/
    background-color: coral;
    font-family: 'Crimson Text', serif;
    color: black;

}


h1 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 7vw;
<<<<<<< HEAD
    /*  font-size: 7rem;*/
    text-align: center;
    font-family: "Garamond";

=======
/*  font-size: 7rem;*/
  text-align: center;
  
>>>>>>> parent of 128a6a9... Update style.css
}

h2 {
    /*  font-size: 3.0rem;*/
    font-size: 3vw;
}

h3 {
    font-size: 3vw;
    margin-left: 10%;
    margin-right: 10%;
}



ul li {
    padding: 5px 0px;

}

<<<<<<< HEAD
.attractor {
    text-align: center;
=======
.attractor{
   text-align: center; 
>>>>>>> parent of 128a6a9... Update style.css
    font-style: italic;
    /*   width: 50%; */
}

<<<<<<< HEAD
.intro {
    text-align: center;
=======
.intro{
    text-align: center; 
>>>>>>> parent of 128a6a9... Update style.css
    font-style: italic;
}

.categories {
    grid-column-start: 1;
    grid-column-end: ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-bottom: 5px solid lightblue;

}

.products {
    grid-column-start: 1;
    grid-column-end: ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    border-bottom: 5px solid lightblue;
}

/*
.facts {
    border-bottom: 5px solid yellow;
}

.blank {
    border-bottom: 5px solid yellow;
}
*/

.catTitle {
    text-align: center
}

.catText {
    text-align: center
}

.table {
    margin-left: 10%;
    margin-right: 10%;
}

.videos {
    list-style: none
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

}

.video-responsive iframe {
    /*    left:0;*/
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.quantity {
    border-style: solid;
}

label {
    display: block;
    font: 10rem 'Fira Sans', sans-serif;
}

input,
label {
    font-size: 2rem;
    margin: 14rem 100;
}

.productText {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.productTitle {
    text-align: center;
    vertical-align: middle;
}
